@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


body {
background: #FFF;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 14px;
width: 70%; 
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}
footer {
position: relative;
margin-top: -50px;
    /* altura en px del footer con valor negativo */
height: 50px; 
width: 973px;
/* Altura del Footer en px*/
clear: both;
background: #286af0;
text-align: center;
color: #FFFFFF; 
}

h1, h2, h3, h4 {
font-family: 'Droid Serif', serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
color:#8C1B14;
}

h1{
font-size: 21px;
}

h2{
font-size: 18px;
}

h3{
font-size: 14px;
}

a:hover{   
border-bottom: 2px solid #8C1B14;
}

.marcagrande{
padding: 150px 0px 0px 0px;
}

.marcagrande img{
height: 250px;
}


.menu-little {
position: absolute;
color:#FFF;
display: inline-block;
background-color: #FFF;
font-size: 14px;
height: 60px;
margin-top: 0px;
position: fixed;
padding-top: 15px;
text-align: right;
top: 0;
width: 72%;
}

.menu-little li{
display: inline-block;
padding-right: 10px;
padding-top: 15px;
}

.menu-little li a{

text-decoration: none;
color:#8C1B14;  
text-transform: uppercase;
font-weight: bold;
}

.menu-little img {
height:55px;
position: absolute;
left: 0px;
top:10px;
}

header{
background-size: 100%;
width: 100%;
height: 420px;
}

.containerbig {
clear:both;
overflow:hidden;
width:100%;
text-align: center;
width: 100%;
height: 250px;
}

.logo {
width: "350px"; 
height: "250px";
}

.menu-big {
font-size: 16px;
color:#FFF;
display: inline-block;
text-align: center;
}

.menu-big li{
display: inline-block;  
padding:0px;
}

.menu-big li a{
text-decoration: none;
color:#8C1B14;  
text-transform: uppercase;
font-weight: bold;
margin:0 auto;
padding:0;
position:relative;
padding: 0px 20px 0px 0px;  
}

#inicio{
background-color:#FBD8C1;
width: 95.7%;
height: 530px;      
padding: 50px;
text-align: justify;
}

.descripcion{
width: 85%;
height: 150px;
font-family: 'Droid Serif', serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
color:#8C1B14;
font-size: 18px;
text-align: justify;
}

.descripcion p{
text-align: center;
margin-left: 150px;
}

.origenes{
padding: 30px;
}

.origenes h2{
text-align: left;
}

.origenizquierdo{
float: left;
width: 48%;
margin-right: 0px;
padding: 0px;

}
.origenderecho{
float: right;
width: 48%;
padding: 0px;
}


.mision{
position: absolute;
right: 0px;
width: 30%;
font-size: 16px;
padding: 250px;
}

.vision{
position: absolute; 
left: 20px;
float: right;
width: 30%;
font-size: 16px;
padding: 250px 30px 20px 225px;
}


.info-inicio{
text-decoration: none;
color:#8C1B14;  
margin:0 auto;
padding:0;
font-family:"Open Sans";
}

.info-inicio li{
text-decoration: none;
}

#nuestrahistoria{
background-color:#FEF5B2; 
width: 100%;
height: 800px;
padding: 20px 30px ;
}

#nuestrostrabajos{
background-color:#FCDDA8;
width: 100%;
height: 800px;
padding: 20px 30px ;
}

.fotorama{

width: 70%;
height: 400px;
border-radius: 30px;
float: right;
}

#contacto{
background-color:#FBD8C1;
background-size: 600px;
width: 100%;
height: 800px;
padding: 20px 30px ;
}
