<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Soles del piedemonte</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

    </head>

    <header>
        <div class="marcagrande" align=center>
            <img src="{{MEDIA_URL}}/media/img/marcagrande.png" alt="imagen_de_la_marca_grande" >
        </div>
        
        <div class="containerlittle">
                <ul class="menu-little">
                    <img src="{{MEDIA_URL}}/media/img/marcagrande.png" alt="imagen_de_la_marca_grande">
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#nuestrahistoria">Nuestra Historia</a></li>
                    <li><a href="#nuestrostrabajos">Nuestros Trabajos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
               </ul>
        </div>
    </header>
    
    <body>

    <section id="portada" class="slide portada">
        <div class="containerbig">
            <ul class="menu-big" align=center>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nuestrahistoria">Nuestra Historia</a></li>
                <li><a href="#nuestrostrabajos">Nuestros Trabajos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </section>

    <section id="inicio" class="slide inicio">
        <article class="seccion-inicio">
            <div class="descripcion"> 
                <h2> 
                    El taller "Soles del Piedemonte" es un grupo de personas especialistas en costura, que se dedica a la confección y arreglos de prendas en general. Sus trabajos incluyen ropa para bebés, niños, adultos y además indumentaria de trabajo, prendas de uso diario y ropa de alta costura.
                 </h2>
                                
            </div>  

            <div class="origenes">
                <h2>Orígenes </h2>

                <p>
                    Todo inició con el curso gratuito de costura "Soles del Oeste" en el año 2004 integrado por un grupo reducido de mamás adolescentes. Junto con la profesora Adriana Gómez, las mamás emprendieron el curso con escasos materiales de trabajo (dos máquinas) pero con un entusiasmo que creció con cada amanecer.
                    Al principio utilizaron prendas para reciclarlas o arreglarlas. Pero luego con el correr del tiempo y con el apoyo de la Municipalidad de la Ciudad de Mendoza, “Soles del Oeste” pudo obtener recursos como máquinas, telas, accesorios de mercería y otras materias primas. Así, las mamás pudieron empezar a confeccionar sus propios diseños.
                    Gracias a la difusión de boca en boca, las personas se fueron enterando de la existencia del curso gratuito. Las cursantes entendieron que de esta manera podían aprender una profesión y a crear su propio negocio como modistas.
                    Este ultimo año el curso convoco a 5 chicas para emprender un nuevo proyecto llamado "Soles del Piedemonte". El desafío que este emprendimiento demandaba era digno de estas chicas. Por eso hoy por hoy “Soles del Piedemonte” se ha afianzado gracias a la voluntad y el trabajo de las chicas, que a base de esfuerzo buscan la mejor calidad de sus productos pero por sobretodo un mejor futuro.

                </p>
            </div>
            

                 
        </article>

    </section>

    <section id="nuestrahistoria" class="slide nuestrahistoria">
        <h1>Nuestra Historia</h1>
        <ul class= "info-nuestrahistoria">
            

            
            <div class= "Participaciones">
                <h2>Participaciones</h2>
                <p>
                    El taller "Soles del Piedemonte" y el curso "Soles del Oeste" han participado de diferentes actividades curriculares. Entra ellas se destacan exposiciones en el Parque Central, el evento Música Clásica por los Caminos del Vino, la Peatonal del Vino, la Feria de Logros en el espacio cultural Julio Le Parc y diversos eventos realizados en la Plaza Independencia. 

                </p>


            </div>

            <div class= "Formacionprofesional">
                <h2>Formación profesional</h2>

                <p>

                    <h2> Adriana Isabel Gómez </h2>

                    <h3> Profesora de Corte y Confección; Coordinadora del Taller “Soles del Piedemonte” </h3>

                    <br>

                    Adriana comenzó con sus estudios de corte y confección a los 13 años, en un curso que se extendió por 3 años. Posteriormente comenzó a trabajar en la fabrica ADIDAS, confeccionando la ropa de deporte para la Selección Argentina en el Mundial de Futbol del año 1978.

                    Tras su labor en ADIDAS, Adriana trabajó en distintos talleres de costura y así alcanzó una alta experiencia en el mundo de la moda. Los pasos de la vida la guiaron a Mendoza donde se radicó y donde empezó a construir lo que hoy es el curso y taller "Soles del Oeste" y "Soles del Piedemonte".

                    A pesar de estar al frente de sus propios cursos, Adriana siempre continuó capacitándose asistiendo a diversos talleres y cursos de distintas índoles para mejorar y adquirir nuevos conocimientos.

                    Algunos de esos cursos que concretó son:


                <ul>

                    <li> Taller de capacitación en metodología GRAMEEN,"DESARROLLO DE NEGOCIOS Y HABILIDADES SOCIALES" 2004 </li>

                    <li> Jornada de "DISEÑO, MARKETING Y ESTRATEGIAS DE COMERCIALIZACIÓN" 2005 y 2006 </li>

                    <li> Proyecto "FORTALECIMIENTO DE LA GESTIÓN DE LOS MICROEMPRENDEDORES" beneficiarios del programa MANOS A LA OBRA 2006 </li>

                    <li> Proyecto de capacitación: "LÍDERES COMUNITARIOS DE LA SOCIEDAD CIVIL" 2006 Y 2007; certificado de: "COORDINADORA" 2010</li>

                </ul>

                </p>

            </div>


        </ul>

        <div class="fotoshistoria">
        <img src="{{MEDIA_URL}}/media/fotos/adriana.jpg" alt="Adriana expositora"border="0" height="150" width="200"/>
        <img src="{{MEDIA_URL}}/media/fotos/adrianaconreina.jpg" alt="Adriana con reina"border="0" height="150" width="200"/>
        <img src="{{MEDIA_URL}}/media/fotos/adrianaconsr.jpg" alt="Intendente"border="0" height="150" width="200"/>
        </div>

    </section>

    <section id="nuestrostrabajos" class="slide nuestrostrabajos">
        <h1>Nuestros Trabajos</h1>
            

        <ul class="categorias-nuestrostrabajos fotorama-nav">
            <li data-show="#fotorama1">Alta costura</li>
            <li data-show="#fotorama2">Uniformes de trabajo</li>
            <li data-show="#fotorama3">Trajes para eventos</li>
            <li data-show="#fotorama4">Buzos de egresados</li>
            <li data-show="#fotorama5">Bebés y niños</li>
            <li data-show="#fotorama6">Línea Hogar</li>
        </ul>
            <div class="fotorama" 
                    data-auto="false"></div>
            
            <!--ALTA COSTURA -->    
            <div class="fotorama" id="fotorama1"
                 data-auto="false">                
                {% for imagen in imagenes %}
                    {% if imagen.categoria_id_id == 2 %}
                    <img src="{{MEDIA_URL}}/media/{{imagen.url}}">
                    {% endif %}                
                {% endfor %}
            </div>

            <!-- UNIFORMES DE TRABAJO -->
            <div class="fotorama" id="fotorama2"
                     data-auto="false">
                    <img src="{{MEDIA_URL}}/media/fotos/camisacocinero (Copiar) (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/lompa (Copiar).png"/>
            </div>

            <!-- TRAJES PARA EVENTOS -->
            <div class="fotorama" id="fotorama3"
                     data-auto="false">
                    <img src="{{MEDIA_URL}}/media/fotos/faldarojatras (Copiar) (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/faldarojadelante (Copiar) (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/faldazul2 (Copiar) (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/vestidonena (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/vestidonena2 (Copiar).png"/>
    
            </div>

            <!-- BUZOS DE EGRESADOS -->
            <div class="fotorama" id="fotorama4"
                     data-auto="false">
                    <img src="{{MEDIA_URL}}/media/fotos/sincara (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/buzopromocion (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/buzopromocion2 (Copiar) (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/bordado (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/buzoblanco2 (Copiar).png"/>     

            </div>
            
            <!--BEBES Y NIÑOS -->
            <div class="fotorama" id="fotorama5"
                     data-auto="false">
            
                    <img src="{{MEDIA_URL}}/media/fotos/pantaloncillo (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/vestidosazules (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/falditacorazones (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/faldita (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/buzobebe (Copiar).png"/>    
    

            </div>

            <!--LINEA HOGAR -->
            <div class="fotorama" id="fotorama6"
                     data-auto="false">
                    <img src="{{MEDIA_URL}}/media/fotos/mantaverde (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/sabanaanimalprint (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/bata (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/toalla (Copiar).png"/>
                    <img src="{{MEDIA_URL}}/media/fotos/sabanaositos (Copiar).png"/>
                    
            </div>
    </section>


    <section id="contacto">
        <h1>Contacto</h1>
        <form >
            <fieldset>

                <table border="0" >
                
                <tr>
                <td><label for="user-name">Nombre:</label></td>
                <td><input id="user-name" name="user-name" type="text" placeholder="Ingrese su nombre" required></td>
                </tr>
                
                <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" name="email" placeholder="Ingrese un correo válido" required></td>
                </tr>

                <tr>
                <td><label for="tel">Teléfono:</label></td>
                <td><input type= "tel" name="tel" placeholder= "261 155000000"></td>
                </tr>
                <tr>
                <td valign="top"><label for="com">Comentario:</label></td>
                <td><textarea name="com" rows="20" cols="100"></textarea></td>
                </tr>
                <tr>
                <td><input type="submit" value="Enviar"></td>
                <td><input type="reset" value="Cancelar"></td>
                </tr>
            
            </fieldset>
        </form>            
    </section>
    <div class="vcard" >
        <p>
            Soles de Piedemonte
        </p>
        <p class="telvc">
            Teléfono: +54296149832489342
        </p>
        <p class="emailvc">
            Email: solesdepiedemonte@gmail.com
        </p>
        <a class="location url" href="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d214331.5185097047!2d-68.81377905!3d-32.92644824999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1411529009965">
        </a>
    </div>
    <footer>
        Soles de Piedemonte 261230444 solesdepiedemonte@gmail.com
    </footer>
    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <link  href="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.css" rel="stylesheet"> 
    <script src="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.js"></script> 
    <script src="{% static 'js/funciones.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
            $('.fotorama').fotorama();
            
            $(document).ready(function(){
                $(".fotorama").hide();
            });

            $(".fotorama-nav li").click(function(){
                var show = $(this).attr("data-show");
                $(".fotorama").hide();
                $(show).fadeIn();
            })
        });
        })
    </script>
    </body>
</html>

